.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.logo{
  margin-left: 5em;
}
.Chart1{
  background: #939598;
  border-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.Chart2{
  background: #939598;
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
h4{
  margin-left: 20px;
  margin-top: 20px;
  color: white;
}
h5{
  color: white;
}
hr{
  background: white;
  margin-top: 0;
  margin-bottom: 5px;
  width:50%; 
  margin-left:25% !important;
  margin-right:25% !important; 
}
.second-line{
  width:70%; 
  margin-left:15% !important;
  margin-right:25% !important; 
}

.left-nav{
  background: yellow;
  width: 15%;
}
.dashboard{
  background: white;
  width: 85%;
  height: 675px;
  
}
.sidebar{
  font-size: 20px;
  border-bottom: 1px solid;
}
label{
  color: white;
  font-weight: 600;
  font-size: 20px;
}
.main{
margin-left: 5em;
margin-right: 5em;
margin-top: 2em;
margin-bottom: 2em;
}
.nav-link{
  color: white;
}
.nav-link:hover {
  color: black;
  background: yellow;
  border-radius: 11px;
}